 .productDetails{
    display: flex;
    font-size: 30px;
    color: #000000;
  }
  .productImage{
    padding: 20px;
    margin-left: 20px;
    margin-top:20px;
    display: flex;
  }
  .arangeDetails{
    margin-left: 300px;
  }
  .buttonStyle{
    text-decoration: none;
  }
  
