
.productDetails h2{
    font-size: 30px;
    color: #f1356d;
    margin-bottom: 10px;
  }



  .productDetails h2{
    text-align: center;
    font-size: 30px;
    color: #f1356d;
  }

  .productDetails p{
    font-size: 24px;
  }

  .singleProductPhoto{
    width: 820px;
    height: 600px;
    margin-left: 640px;
  }
  .singleProductDescription{
    font-size: 24px;
    margin-left: 200px;
  }
  .productDetails p{
    margin-left: 200px;
  }
  
  .deleteButton{
    background-color: rgba(0, 64, 148, 0.726);
    border:none;
    color: white;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
  }
    .addButton{
      background-color: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    }
    